/********************************************* GENERAL **********************************************/
body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Karla Regular", sans-serif;
}

p {
	font-family: "Rubik Medium", sans-serif;
}
/********************************************* UTILS **********************************************/

.padding-200 {
	padding: 100px 200px;
}

.title{
	color: #fff;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

/******************************************** MENU & HEADER **********************************/
.menu  {
	padding-top: 20px;
	padding-right: 70px;
	font-family: "karla-bold", sans-serif;
}

ul {
	display: inline;
	float: right;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #fff;
	margin-right: 26px;
	letter-spacing: 2px;
}

li a:hover {
	color: #b2b1ad;
	transition: 1s;
}


.brand {
	text-align: center;
	font-size: 1rem;
	float: left;
	margin: 0 0 0 70px;
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #feada9;
	background-color: #fff;
}
.brand h1{
	margin: 10px 0 0 0;
}
.logo {
	padding-top: 25px;
}



#header {
	background-image: url('../image/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
	font-family: "karla-bold", sans-serif;
	color: #fff;
	padding: 0 70px;
}

.content-header h1{
	margin: 0;
	font-size: 60px;
	letter-spacing: 3px;
}
.content-header hr {
	border-style: none;
	height: 1.2px;
	width: 70rem;
	background-color: #fff;
}

.content-header {
	text-align: center;
	padding-top: 10%;
}
.info {
	margin-top: 15px;
	margin-bottom: 40px;
}
.info p {
	margin: 8px 0 0 0;
	font-size: 50px;
}

input{
	border: none;
	background-color: #fff;
	border-radius: 5px;
	width: 300px;
}

input:focus {
	border: none;
	box-shadow: 0 0 3px !important;
	outline: none;
}

::placeholder {
	padding-left: 10px;
	font-size: 15px;
}

button {
	border-radius: 5px;
	background-color: #feada9;
	border: none;
	color: #fff;
	font-weight: bold;
	margin-left: 8px;
	padding: 10px;
}

button:hover {
	background-color: #ee91d8;
	color: #fff;
	font-weight: bold;
	transition: 0.8s;
}

input, button {
	height: 40px;
}
/********************************************* A PROPOS **********************************************/
#a-propos {
	background-color: #f9f9ef;
}
#a-propos h1 {
	text-transform: uppercase;
}
#a-propos img  {
	width: 25%;
	height: 10%;
	float: right;
	box-shadow: 5px 5px 5px 5px #ee91d8;
}
#a-propos p {
	width: 60%;
	text-align: left;
	font-size: 18px;
	line-height: 2;
	font-family: "Rubik Medium", sans-serif;
}

.profil-header {
	text-align: center;
}

.souligner {
	background-color: #ee91d8;
	border-style: none;
	height: 5px;
	width: 5rem;
}

.profil-content {
	padding-top: 30px;
}
/********************************************* COMPETENCES **********************************************/
#competences {
	background-color: #ee91d8;
	color: #fff;
	height: 50vh;
}
.souligner-1{
	background-color: #fff;
	border-style: none;
	height: 5px;
	width: 5rem;
}
/********************************************* CONTACT **********************************************/

/* #contact {
	background-color: #f9f9ef;
}

.form-contact input[type=email], .form-contact textarea{
	border-style: none;
	display: inline-block;
	background-color: #bcbcb8;
	width: 500px;
	position: relative;
	left: 500px;
}

.form-contact textarea {
	margin-top: 10px;
} */